<%= form_for(@frit) do |f| %>
  <% if @frit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frit.errors.count, "error") %> prohibited this frit from being saved:</h2>

      <ul>
      <% @frit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :publish_date %><br />
    <%= f.datetime_select :publish_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
